.header {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 0%;
  color: #fff;
}

.app-header-background {
  background-image: linear-gradient(300deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  height: 300px;
  width: 100%;
}

.app-header-fade {
  height: 250px;
  background-image: linear-gradient(transparent 1%, #fff);
  position: relative;
  bottom: 250px;
}

.application-form-outline {
  /* background-image: linear-gradient(143deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
  position: relative;
  top: -450px;
  padding: 10px;
  border-radius: 15px;
  width: 800px;
  margin: 25px auto;
  box-sizing: border-box;
}

.application-submit-form {
  border-radius: 8px;
  display: flex;
  width: 100%;
  background-color: white;
}

.form-element {
  /* background-color: #444; */
  width: 100%;
  box-sizing: border-box;
  margin: 10px auto;
  height: 40px;
  padding: 5px 20px;
  border: none;
  outline: none;
  margin: 10px;
}

.form-submit {
  background-color: #4158D0;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}