.header {
  text-align: center;
  width: 100%;
  color: #fff;
}

.app-header-background {
  background-image: linear-gradient(300deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  height: 300px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.app-header-fade {
  height: 250px;
  background-image: linear-gradient(
    rgba(var(--background-off-white-rgb), 0) 10%,
    rgba(var(--background-off-white-rgb), .1) 20%,
    rgba(var(--background-off-white-rgb), 0.95) 80%,
    rgba(var(--background-off-white-rgb), 0.97) 85%,
    var(--background-off-white) 100%
  );
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: -1;
}

.app-content {
  padding: 10px;
  border-radius: 15px;
  width: 800px;
  margin: 25px auto;
  box-sizing: border-box;
  color: var(--main-text-color);
}

.application-form-outline {
  background-color: #fff;
}

.application-submit-form {
  border-radius: 8px;
  display: flex;
  width: 100%;
}

.form-element {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  height: 40px;
  padding: 5px 20px;
  border: none;
  outline: none;
  font-size: 16px;
}

.form-submit {
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
}

.button-element {
  background-color: #4158D0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .3s;
}

.button-element:hover {
  background-color: #5671F5;
}

@media (max-width: 860px) {
  .app-content {
    width: 94%;
  }
}

@media (max-width: 700px) {
  .form-element {
    padding: 5px 5px;
  }

  .job-board-field {
    width: 120%;
  }
}

@media (max-width: 620px) {
  .application-submit-form {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-element {
    margin: 5px;
  }

  .company-field {
    width: 55%;
  }

  .date-applied-field {
    width: 35%;
  }

  .job-board-field {
    width: 30%;
  }

  .form-submit {
    width: 50%;
  }
}