.header {
  text-align: center;
}

.application-form-outline {
  background-image: linear-gradient(143deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  padding: 10px;
  border-radius: 15px;
  width: 800px;
  margin: 25px auto;
  box-sizing: border-box;
}

.application-submit-form {
  border-radius: 8px;
  display: flex;
  width: 100%;
  background-color: white;
}

.form-element {
  width: 100%;
  box-sizing: border-box;
  margin: 10px auto;
  height: 40px;
  padding: 5px 20px;
  border: none;
  outline: none;
  margin: 10px;
}

.form-submit {
  background-color: #4158D0;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}