.job-item-top-row {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-right: 5px;
  line-height: .9;
  transition-duration: .3s;
}

.caret-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.job-item-caret {
  filter: invert(10%);
  height: 30px;
  transition-duration: .3s;
  cursor: pointer;
}

.job-item-caret:hover {
  filter: invert(30%);
}

.job-item-caret-expanded {
  transform: rotate(90deg);
}

.job-item-inner-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.job-item-inner-container p {
  width: 32%;
}

.job-item-company {
  text-align: left;
  font-weight: 800;
  cursor: pointer;
}

.job-item-board {
  text-align: center;
}

.job-item-applied-date {
  text-align: end;
}

.job-item-bottom-row-description-container,
.job-item-bottom-row-field-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-item-bottom-row-field-container {
  padding: 0 20px;
}

.job-item-bottom-row-field {
  display: flex;
  width: 30%;
}

.job-item-bottom-row-field p {
  width: 50%;
}

.heard-back-text {
  display: flex;
  align-items: center;
}

.status-dropdown {
  border: none;
  outline: none;
  font-size: 16px;
}

.job-item-notes-container {
  border: 1px solid #EEE;
  border-radius: 8px;
  width: 30%;
  max-height: 40px;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job-item-notes {
  overflow-y: scroll;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 80%;
  padding: 8px 5px;
  height: 100%;
}

.job-item-notes-submit {
  border-radius: 8px;
  font-weight: 800;
  padding: 5px;
  height: 100%;
  border: none;
}

.job-item-notes-submit-updated {
  background-color: var(--green);
}

.job-item-notes-submit-updated:hover {
  background-color: var(--green);
}

.delete-item-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.delete-item-text {
  font-size: 16px;
}

.delete-record-icon {
  height: 20px;
  filter: invert(60%);
  transition-duration: .3s;
}

.delete-record-icon:hover {
  filter: invert(30%);
}

.hover-active-space {
  width: 40px;
  margin-left: 10px;
}

@media (max-width: 860px) {
  .job-item-inner-container p {
    width: 30%;
  }
}