.job-item {
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
}

.job-item p {
  width: 15%;
}

.job-item-company {
  text-align: left;
}

.job-item-board {
  text-align: center;
}

.job-item-applied-date {
  text-align: end;
}