.job-list {
  height: 500px;
  background-color: #fff;
  box-shadow: 0 5px 10px -5px #ddd;
}

.job-search {
  width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 0;
  margin-bottom: 10px;
  height: 40px;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  box-shadow: inset 0 0 6px -4px #999;
  display: flex;
  justify-content: space-between;
}

.job-search-refresh {
  border: none;
  border-radius: 50%;
}

.refresh-button-icon {
  transition: transform .3s ease-in-out;
}

.job-search-refresh:hover .refresh-button-icon {
  transform: rotate(180deg);
}

.job-search-field {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
  margin: 0 10px;
  /* background-color: #4158D0; */
}

.job-search-submit {
  height: 100%;
  width: 60px;
  border: none;
  border-radius: 14px;
  box-sizing: border-box;
  margin: 0;
  color: #fff;
}

.job-search-icon {
  height: 20px;
  filter: invert(100%);
}

.job-item-legend {
  display: flex;
  justify-content: space-between;
  color: #aaa;
  font-weight: 800;
  font-size: 12px;
}

.job-item-legend p {
  /* width: 15%; */
}