.job-search {
  border: none;
  outline: none;
  font-size: 16px;
  box-shadow: inset 0 0 6px -4px #999;
  padding: 5px;
  border-radius: 20px;
}

.job-search-no-results {
  width: 100%;
  text-align: center;
}

.job-search-top-row {
  height: 30px;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.job-list-child {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

.job-item-filter-list {
  margin-top: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.results-shown-select {
  padding: 4px 8px;
  margin-left: 8px;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
}

.job-list-filter-text {
  margin: 0 auto;
}

.job-search-refresh {
  border: none;
  border-radius: 16px;
  height: 32px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.refresh-button-icon {
  transition: transform .3s ease-in-out;
}

.job-search-refresh:hover .refresh-button-icon {
  transform: rotate(-180deg);
  animation: none;
}

.job-search-refresh .refresh-button-icon {
  animation: rotate-unhover 0.3s linear;
}

.job-search-icon {
  height: 20px;
  filter: invert(100%);
}

.job-search-field {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
  margin: 0 10px;
  font-size: 16px;
}

.job-search-clear-text {
  border: none;
  background-color: transparent;
}

.clear-text-icon {
  filter: invert(70%);
  cursor: pointer;
  transition-duration: .3s;
  height: 16px;
  margin: auto;
  display: flex;
  align-items: center;
}

.clear-text-icon:hover {
  filter: invert(50%);
}

.job-search-filter {
  height: 100%;
  width: 60px;
  border: none;
  border-radius: 8px;
  outline: none;
  padding: 0;
  margin: 0 8px;
}

.job-search-filter-open {
  background-color: #fff;
  border: 2px solid var(--main-blue);
}

.job-search-filter-open .filter-button-icon {
  filter: invert(20%);
}

.job-search-filter-open:hover .filter-button-icon {
  filter: invert(100%);
}

.filter-button {
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-weight: 800;
}

.job-search-submit {
  height: 100%;
  width: 60px;
  border: none;
  border-radius: 14px;
  box-sizing: border-box;
  margin: 0;
  color: #fff;
}

.job-item-container {
  margin-bottom: 10px;
}

.job-item-legend {
  display: flex;
  justify-content: space-between;
  color: #bbb;
  font-weight: 900;
  font-size: 14px;
}

.job-item-main-legend {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.job-item-main-legend p {
  width: 25%;
}

.job-list-company-name {
  text-align: left;
}

.job-list-status {
  text-align: center;
}

.job-list-date-applied {
  text-align: right;
}

.job-list-job-board {
  border: none;
  outline: none;
  font-size: 16px;
  text-align: center;
}

.week-divider {
  margin: 0;
  line-height: 1;
  font-size: 14px;
  font-weight: 900;
  color: #999;
}

.job-list-page-controls {
  width: 100%;
  display: flex;
  justify-content: center;
}

.job-list-page-control-button {
  border: 2px solid #eee;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  font-weight: 600;
  color: #999;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 8px;
}

.job-list-page-control-button-hidden {
  visibility: hidden;
}

.job-list-page-control-button:hover {
  background-color: #eee;
  color: #555;
}

.job-list-page-number:hover {
  background-color: unset;
}

.job-list-page-control-caret {
  height: 24px;
  filter: invert(50%);
}

.caret-left {
  rotate: 180deg;
}

/* ---------- KEYFRAMES ------------- */

@keyframes rotate-unhover {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(-180deg);
  }
}

/* ---------- MEDIA QUERIES ------------- */
@media (max-width: 860px) {
  .job-search {
    box-shadow: none;
    border: 1px solid var(--main-blue);
    border-radius: 30px;
  }

  .job-search-top-row {
    height: 40px;
  }
  
  .job-search-filter,
  .job-search-submit {
    width: 80px;
  }
  
  .job-search-refresh {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    aspect-ratio: 1/1;
  }

  .job-search-submit {
    border-radius: 20px;
  }

  .job-search-icon {
    height: 24px;
  }

  .filter-label {
    font-size: 16px;
  }
  
  .results-shown-select {
    font-size: 16px;
  }

  .job-item-main-legend p {
    align-items: center;
    width: unset;
    margin: auto 0;
  }

  .job-list-job-board {
    max-width: 35%;
    margin: 12px auto;
    border: 8px solid transparent;
    background-color: transparent;
    text-align: center;
  } 

  .job-list-page-control-button {
    height: 24px;
    width: 24px;
    font-size: 20px;
  }

  .job-list-page-control-caret {
    height: 32px;
  }
}